
* {
    margin-top: 0px;
}

p {
    font-family: 'Montserrat'; 
}

.input {
    line-height: 30px;
    width: 300px;
    margin-bottom: 20px;
}


.btn {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    width: 110px;
    font-family: 'Montserrat';

}

.btn:hover {
    background-color: hotpink;
}

.changeBackground {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}

