
* {
    margin-top: 0px;
}

.input {
    line-height: 30px;
    width: 300px;
    margin-bottom: 20px;
}

.btn {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    width: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.btn:hover {
    background-color: hotpink;
}

.changeBackground {
    background-color: rgb(128, 128, 128);
}